/* globals */
a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

@font-face {
    font-family: RBNo2;
    src: url(../fonts/RBNo2Light.otf);
  }


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  padding-top: 55px;
  overflow-x:hidden;
}
/* Extra markup and styles */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.textoverlay {
  position: absolute;
  color: white;
  top: -.5px;
  left:-.5px;
  width: 101%;
  height: 101%;
  font-size: 40px;
  opacity: 0;
  font-family: RBNo2;
}
.textoverlay:hover {
  /*.textoverlay {*/
  background-color: black;
  opacity: .8;
  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -ms-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
  cursor: pointer;
}

.textoverlay.tech_addiction {
  padding-top: 50%;
  font-size: 48px;
  font-family: inherit;
  text-align: center;
}
.textoverlay#about_hour {
  padding-top: 52%;
  text-align: center;
  font-size: 52px;
}
.textoverlay.cyberbullying {
  text-align: right;
  font-size: 47px;
  padding-right: 2%;
}
.textoverlay.hacker {
  padding-left: 3%;
  font-size: 52px;
}
.textoverlay.welcome {
  text-align: center;
  font: inherit;
  font-size: 75px;
  padding-top: 9%;
}
.textoverlay.desk {
  text-align: right;
  padding-right: 5%;
  font-size: 70px;
} 
.textoverlay.school {
  padding-top: 32%;
  text-align: right;
  padding-right: 5%;
  font-size: 44px;
}
.textoverlay.contact {
  text-align: right;
  padding-right: 4%;
  font-size: 31px;
}
.textoverlay.corporate {
  font-size: 26px;
  text-align: center;
  color: rgb(157, 250, 249);
}
.textoverlay.teenietips {
  text-align: center;
  padding-top: 50%;
  font-size: 84px;
}
.textoverlay.blue {
  color: rgb(157, 250, 249);
  font-weight: bold;
}

/*
 * Left Menu
 */
#left_menu td{
  border:none;
}
#left_menu table{
  margin: auto;
  width: 88%;
  color: white;
  font-family: RBNo2;
  font-size: 140%;
  margin-top: 21px;
}
#left_menu td{
  padding: 6px;
}
#menu_header {
  width: 100%;
  height: 18%;
  padding-top: 4%;
  font-size: 68px;
  font-family: RBNo2;
  text-align: center;
  color: white;
}
#search_bar {
  text-align: center;
}
#search_bar input{
  width: 85%;
  border-radius: 10px;
  border: 0px none;
  height: 30px;
  background-image: url(../img/search.png);
  padding-left: 30px;
  background-position: -1px -2px;
  background-size: 31px;
  background-repeat: no-repeat;
}
#search_bar input:focus{
  outline: 0;
}
.menu_icon {
  width:30px;
  margin-top: -5px;
}
.faux_link:hover{
  text-decoration: underline;
  cursor: pointer;
}



/*
 * Popup
 */
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
.popup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: white;
    display: none;
    font-size: 14px;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-family: rbno2;
}
#popup_exit {
  cursor: pointer;
  width: 5%;
  margin: 18px 0px 0px 2px;
  float: left;
}
#defaultPopup {
  background: none repeat scroll 0 0 black;
}
#defaultPopup .container img{
  width: 100%;
  border: 5px solid rgb(90,90,90);
}
.popup_image {
  margin-left: 12.5%;
  width: 75% !important;
}
.small_image_row {
  margin-top:10px;
}
.popup_header{
  font-size: 80px;
  text-align: center;
}
.popup_desc {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 16px;
}
.arrow {
  border:none !important;
  margin-top:225%;
}


/*
 * Header
 */

.navbar .container-fluid {
  height: 110px;
  background: white;
}

.navbar h2 {
  font-size: 58px;
  font-weight: bold;
  float: left;
  margin-left: 115px;
}
.navbar h2:hover {
  text-decoration: none
}
#join_the_hour {
  background-color: rgb(224,236,14);
  width: 264px;
  height: 59px;
  margin-top:25px;
  text-align: center;
}
#join_the_hour a{
  font-weight: bold;
  font-size: 30px;
}
.social_link {
  width:60px;
  margin-top: -15px;
}
.navbar li {
  margin-left: -8px !important;
}


.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.row-no-padding div{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


/*
 * Footer
 */

/*.footer {
  max-height: 90px;
  overflow: hidden;
}*/
#gal_pals {
  margin-left: 93px;
}
#logo {
  height:94px;
  vertical-align: bottom;
}
.footer span{
  color: rgb(157, 250, 249);
  font-family: RBNo2;
  font-size: 31px;
  font-weight: bold;
  display: block;
  margin-top: -62px;
  text-align: right;
  margin-right: 36px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}
